@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,600,300,800);

#qrcode {
  width:160px;
  height:160px;
  margin-top:15px;
}
#text{
  font-size: 20px;
  font-family: "Open Sans", sans;
  font-weight: 400;
  
}